
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    
    <%p @data%>
    <% get_pollen(@data).each do |p| %>
   <%p p["Category"]%>
   
      <% if p["Name"] != "AirQuality" %>
        <div class="row" role="tab" id="heading<%= p["Name"]%>" style="width: 100%; height: 60px; margin-left:2px; border-top-style: solid; border-top-width: 0.5px; border-top-color: #eee;"
         data-toggle="collapse" data-parent="#accordion" href="#collapse<%= p["Name"]%>" aria-expanded="false" aria-controls="collapse<%= p["Name"]%>">
          <%= image_tag(get_photo(p["Name"]), :style => "border-radius: 50%;  width: 50px; height: 50px; margin-left: 5px; margin-top: 5px; float:left") %>
          <div class="col-lg-8" style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
            <div style="padding-left: 20%;padding-top: 18px; position:absolute;"><%= p["Name"]%><span class='glyphicon glyphicon-chevron-down' style="margin-left: 5px; font-size: 10px; "></span></div>
          </div>
           <div class="col-lg-4"  style="float: right; margin-right: 2px">
            <div style="float: right; width: 16px; height: 16px; border-radius: 8px; background-color: #<%= get_quality_color(p["Category"]) %>; margin-top: 20px;"></div>
            <div style="float: right; margin-right: 5px; 60%; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898; margin-top: 18px;"><%= p["Category"]%></div>
          </div>
         
        </div>
        <div id="collapse<%= p["Name"]%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= p["Name"]%>">
          <div class="panel-body" style="padding-top: 0;">
            <h5 style="float: right; margin-top: 0; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 12px; color: #989898;"><%= get_pollen_range(p["Name"], p["Category"]) %></h5>
            <% get_pollen_detail(p["Name"]).each do |d| %>
              <h5 style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
                <%= d[0] %>
              </h5>
              <p style="font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; color: #989898;">
                <%= d[1] %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    
  <div class="row" style="text-align: right; padding: 15px 20px; border-top-style: solid; border-top-width: 0.5px; border-top-color: #eee;font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 12px; color: #989898;">
    Data from AccuWeather
  </div> 
</div>
</div>