<div class = 'fox-box-content' >
    <% begin; current_city = @data[0]; rescue Exception; current_city = nil; end %>
    <% begin; air_quality = @data[1]["DailyForecasts"][0]["AirAndPollen"][0]["Category"]; rescue Exception; air_quality = nil; end %>
    <%= link_to raw("<div class = 'fox-box-logo'></div>"), "http://www.breathebayarea.org" %> 
    <div style="float: left ;margin-left: 10px; color: white;">
        <div class = 'fox-box-text'>
            <div style="font-family: 'Open Sans', sans-serif; font-size: 28px"><%= current_city || "Current City"%></div>
            
            <div style="font-family: 'Open Sans', sans-serif; font-size: 20px">Air quality: <%= air_quality %></div>
        </div>
    </div>
      <div style="font-family: 'Open Sans', sans-serif; font-size: 24px; color: white;  margin-right:15px; float:right; padding-top:5px"><%= get_weather_num(@data) %></div>
   
     <div style="float: right; margin-right:2px">
            <%= image_tag(get_weather_image(@data)) %>
    </div>  
   
    
  
    <div style="font-family: 'Open Sans', sans-serif; font-size: 14px; color: white; margin-right:5px; padding-top: 10px; float:right; "><%= get_weather_text(@data) %></div>
</div>